@model List<DataModel.School.SchoolGetListDTO>
@{
    ViewData["Title"] = "Get";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-12">
            <div class="bg-secondary rounded h-100 p-4">
                <h6 class="mb-4">Danh sách kỳ thi</h6>


                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">STT</th>
                                <th scope="col">Tên Trường</th>
                                <th scope="col">Mã Trường</th>
                                <th scope="col">Địa Chỉ</th>
                                <th scope="col">Số Máy Bàn</th>
                                <th scope="col">Số Di Động</th>
                                <th scope="col">Thành Phố</th>
                                <th scope="col">Người Tạo</th>
                                <th scope="col">Ngày Tạo</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.Count; i++)
                            {
                                var item = Model[i];
                                int stt = i + 1;
                                <tr>
                                    <td>@stt</td>
                                    <td>@item.SCHOOL_NAME</td>
                                    <td>@item.SCHOOL_CODE</td>
                                    <td>@item.ADDRESS</td>
                                    <td>@item.PHONE</td>
                                    <td>@item.TEL</td>
                                    <td>@item.CITY_ID</td>
                                    <td>@item.CREATED_BY</td>
                                    <td>@item.CREATED_DATE.ToString("dd/MM/yyyy")</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

