@model DataModel.School.SchoolGetListDTO
@{
    ViewData["Title"] = "GetData";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <form asp-action="Update">
            <div class="col-sm-12 col-xl-6">
                <div class="bg-secondary rounded h-100 p-4">
                    <h6 class="mb-4">Cập Nhật Thông Tin Trường</h6>
                    <div class="form-floating mb-3">
                        <input asp-for="SCHOOL_NAME" type="text" class="form-control" id="schoolName" value="@Model.SCHOOL_NAME">
                        <label asp-for="SCHOOL_NAME">Tên Trường</label>
                        <span asp-validation-for="SCHOOL_NAME" class="text-danger"></span>
                    </div>

                    <div class="form-floating mb-3">
                        <input asp-for="SCHOOL_CODE" type="text" class="form-control" id="schoolCode" value="@Model.SCHOOL_CODE">
                        <label asp-for="SCHOOL_CODE">Mã Trường</label>
                        <span asp-validation-for="SCHOOL_CODE" class="text-danger"></span>
                    </div>

                    <div class="form-floating mb-3">
                        <input asp-for="ADDRESS" type="text" class="form-control" id="address" value="@Model.ADDRESS">
                        <label asp-for="ADDRESS">Địa Chỉ</label>
                        <span asp-validation-for="ADDRESS" class="text-danger"></span>
                    </div>

                    <div class="form-floating mb-3">
                        <input asp-for="PHONE" type="text" class="form-control" id="phone" value="@Model.PHONE">
                        <label asp-for="PHONE">Số Máy Bàn</label>
                        <span asp-validation-for="PHONE" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="TEL" type="text" class="form-control" id="tel" value="@Model.TEL">
                        <label asp-for="TEL">Số Di Động</label>
                        <span asp-validation-for="TEL" class="text-danger"></span>
                    </div>

                    <div class="form-floating mb-3">
                        <select asp-for="CITY_ID" class="form-select" id="city"
                                aria-label="Floating label select example">
                            <option selected>Open this select menu</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                        <label for="floatingSelect">Thành Phố</label>
                        <span asp-validation-for="CITY_ID" class="text-danger"></span>
                    </div>
                    <input asp-for="SCHOOL_ID" type="hidden" class="form-control" id="schoolId" value="@Model.SCHOOL_ID">
                    <div class="form-floating mb-3">
                        <button onclick="Update()" class="btn btn-primary">Update</button>
                    </div>
                </div>
            </div>

        </form>

    </div>
</div>

<script>
    function Update() {
        var schooName = $('#schoolName').val();
        var schoolCode = $('#schoolCode').val();
        var address = $('#address').val();
        var phone = $('#phone').val();
        var tel = $('#tel').val();
        var cityId = $('#city').val();
        var schoolId = $('#schoolId').val();
        var request = {
            'UPDATED_BY': "",
            'SCHOOL_NAME': schooName,
            'SCHOOL_CODE': schoolCode,
            'ADDRESS': address,
            'PHONE': phone,
            'TEL': tel,
            'CITY_ID': cityId,
            'SCHOOL_ID': schoolId
        }
        $.ajax({
            type: 'PUT',
            url: '/School/Update',
            data: {
                request: request
            },
            dataType: "json",
            success: function () {
                alert("success!");
            },
            error: function () {
                alert('error!');
            }
        });
    }
</script>

